@model HelloWorld.Models.Document

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Document</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Level.LevelName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Level.LevelName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Contents)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Contents)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SoundPath)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SoundPath)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AddDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AddDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
