@model PagedList<Member>
@{
    Layout = null;
}




<div class="pageHeader">
    <form id="pagerForm" onsubmit="return navTabSearch(this);" action='@Url.Action("Select")' method="post">
        <input type="hidden" name="pageNum" value="@Model.CurrentPageIndex" />
        <input type="hidden" name="numPerPage" value="@Model.PageSize" />
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label>我的客户：</label>
                    <input type="text" />
                </li>
                <li>
                    <select class="combox" name="province">
                        <option value="">所有省市</option>
                        <option value="北京">北京</option>
                        <option value="上海">上海</option>
                        <option value="天津">天津</option>
                        <option value="重庆">重庆</option>
                        <option value="广东">广东</option>
                    </select>
                </li>
            </ul>

            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                    <li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="create" href='@Url.Action("Create")' target="dialog" mask="true"><span>添加</span></a></li>
            <li><a class="update" href='@Url.Action("Create",new{id="{id}"})' target="dialog" mask="true"><span>修改</span></a></li>
            <li class="line">line</li>
            <li><a class="icon" href='@Url.Action("Folder",new{id="{id}"})' target="dialog" mask="true" width="800" height="600"><span>文件夹</span></a></li>
            <li><a class="icon" href='@Url.Action("Client",new{id="{id}",operate="append"})' target="dialog" mask="true" width="800" height="600"><span>添加用户</span></a></li>
            <li><a class="icon" href='@Url.Action("Client",new{id="{id}",operate="remove"})' target="dialog" mask="true" width="800" height="600"><span>移除用户</span></a></li>

            @*<li><a class="delete" href="demo/common/ajaxDone.html?uid={sid_user}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
                <li class="line">line</li>
                <li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targetType="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>*@
        </ul>
    </div>
    <table class="list" layoutH="115">
        <thead>
            <tr>
                <th width="35" align="center">序号</th>
                <th align="center">会员类型</th>
                <th>有效期</th>
                @*<th width="100">客户类型</th>
                    <th width="150">证件号码</th>
                    <th width="80" align="center">信用等级</th>
                    <th width="80">所属行业</th>
                    <th width="80">建档日期</th>*@
            </tr>
        </thead>
        <tbody>
            @{ int i = 0;}
            @foreach (var item in Model)
            {


                <tr target="id" rel="@item.Id">
                    <td align="center">@(++i)</td>
                    <td>@item.Name</td>
                    <td align="center">@item.Month</td>
                    @*<td>联社营业部</td>
                        <td>29385739203816293</td>
                        <td>5级</td>
                        <td>政府机构</td>
                        <td>2009-05-21</td>*@
                </tr>
            }
        </tbody>
    </table>
    @Html.NavTabPages(Model, 10)
</div>

