@using StudyOnline.Models;
@model StudyOnline.Models.X_Menu
@{
    Layout = null;
}

<div class="pageContent">
    <form method="post" action='@Url.Action("Create", new { area="Master",ctrl="Menu"})' class="pageForm" onsubmit="return validateCallback(this, dialogAjaxDone)">
        <div class="pageFormContent" layoutH="58">

            <dl>
                <dt>菜单名称：</dt>
                <dd>
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input name="Name" type="text" value="@Model.Name" class="required" />
                </dd>
            </dl>
            <dl>
                <dt>菜单权重：</dt>
                <dd><input name="Order" type="text" value="@Model.Order" /></dd>
            </dl>
            <dl>
                <dt>父级菜单：</dt>
                <dd><input name="ParentId" type="text" value="@Model.ParentId" /><a class="btnLook" href="@Url.Action("MenuLookup")" width="600" height="480" lookupGroup="menu">查找带回</a></dd>
            </dl>
            <dl>
                <dt>区域：</dt>
                <dd><input name="Area" type="text" value="@Model.Area" /></dd>
            </dl>
            <dl>
                <dt>控制器：</dt>
                <dd><input name="Ctrl" type="text" value="@Model.Ctrl" /></dd>
            </dl>
            <dl>
                <dt>方法：</dt>
                <dd><input name="Action" type="text" value="@Model.Action" /></dd>
            </dl>
            @*<dl>
                    <dt>控制器：</dt>
                    <dd><input name="Controller" type="text" /></dd>
                </dl>
                <dl>
                    <dt>动作方法：</dt>
                    <dd><input name="Action" type="text" /></dd>

                </dl><dl>
                    <dt>按钮图标：</dt>
                    <dd><input name="Class" type="text" /></dd>

                </dl><dl>
                    <dt>链接标题：</dt>
                    <dd><input name="Title" type="text" /></dd>

                </dl><dl>
                    <dt>链接类型：</dt>
                    <dd><input name="Target" type="text" /></dd>

                </dl><dl>
                    <dt>窗体宽度：</dt>
                    <dd><input name="Width" type="text" /></dd>
                </dl><dl>
                    <dt>窗体高度：</dt>
                    <dd><input name="Height" type="text" /></dd>
                </dl>*@
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>

</div>
