@model X_User
@{
    Layout = null;
}


<div class="pageContent">
    <form method="post" action='@Url.Action("Account")' cl class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
        <div class="pageFormContent " layoutH="58">

            <dl>
                <dt>帐号：</dt>
                <dd>
                    <input type="hidden" name="Id" value="@Model.Id" />
                    <input type="text" name="Username" maxlength="20" class="required" value="@Model.Username" />
                </dd>
            </dl>
            <dl>
                <dt>密码：</dt>
                <dd>
                    <input id="w_validation_pwd" type="password" name="password" class="required alphanumeric" minlength="6" maxlength="20" alt="字母、数字、下划线 6-20位" />
                </dd>
            </dl>
            <dl>
                <dt>确认密码：</dt>
                <dd>
                    <input type="password" name="repassword" class="required" equalto="#w_validation_pwd" />
                </dd>
            </dl>
            <dl>
                <dt>昵称：</dt>
                <dd>
                    <input type="text" name="Nickname" maxlength="20" class="required" value="@Model.Nickname" />
                </dd>
            </dl>
            <dl>
                <dt>真名：</dt>
                <dd>
                    <input type="text" name="Truename" maxlength="20" class="required" value="@Model.Truename" />
                </dd>
            </dl>

        </div>
        <div class="formBar">
            <ul>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
            </ul>
        </div>
    </form>

</div>

