@using StudyOnline.Models;
@model StudyOnline.Models.Document

@{
    Layout = null;
    List<Level> levels = ViewBag.Levels;
}
@*<h2 class="contentTitle">表单验证</h2>*@


<style type="text/css" media="screen">
    .uploadify { margin-bottom: 0; display: inline-block; }
    .uploadify-button { border: none; border-radius: 0; }
    .uploadify-queue { display: none; }
</style>

<div class="pageContent">

    <form method="post" action='@Url.Action("DocsCreate")' class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <div class="pageFormContent nowrap" layouth="58">


            <table class="formTable">
                <tr>
                    <th>标题</th>
                    <td><input type="text" name="Title" style="width:500px" class="required" value="@Model.Title" /></td>
                    <th>级别</th>
                    <td style="width:100px;">
                        <select class="combox required" name="LevelId">
                            @foreach (var item in levels)
                            {
                                <option value="@item.Id" @(Model.LevelId == item.Id ? "selected='selected'" : "")>@item.LevelName</option>
                            }
                        </select>
                    </td>
                </tr>

                <tr>
                    <th style="vertical-align:top;padding-top:10px;">正文</th>
                    <td colspan="3"><textarea name="Contents" style="width:99%;height:100px;">@Model.Contents</textarea></td>
                </tr>
                <tr>

                    <th style="vertical-align:top;padding-top:10px;">歌词</th>
                    <td colspan="3">
                        <textarea name="Lyrics" style="width:99%;height:300px;">@Model.Lyrics</textarea>
                    </td>
                </tr>
                <tr>

                    <th>音频文件</th>
                    <td colspan="3">

                        <span>
                            @if (!String.IsNullOrEmpty(Model.SoundPath))
                            {
                                <span class="fileList">
                                    <input type="hidden" name="SoundPath" value="@Model.SoundPath" />
                                    <span>@Model.SoundPath</span>
                                    <a href="javascript:;" class="close" title="移除" onclick='$(this).parent().remove();'></a>
                                </span>
                            }
                        </span>


                        <input id="SoundPath" type="file" name="file"
                               uploaderoption="{
			swf:'/Content/uploadify/scripts/uploadify.swf',
			uploader:'/Admin/Uploadify',
			buttonText:'请选择文件',
			auto:true,
            multi:false,
			onUploadSuccess:successA
		}" />

                    </td>
                </tr>

            </table>

            <div id="mmusic" style="display:none;"></div>

            <script>
                /*uploadifySuccess*/
                function successA(file, data, response) {
                    var o = $.parseJSON(data);
                    var $c = $("#SoundPath").prev();
                    $c.html("<span class='fileList'></span>");
                    var input = "<input type='hidden' name='SoundPath' value='" + o.filePath + "'/>";
                    var span = "<span>" + o.filePath + "</span>";
                    var a = "<a href=\"javascript:;\" class=\"close\" title=\"移除\" onclick='$(this).parent().remove();'></a>";
                    $c.children().append(input).append(span).append(a);
                }

          
            </script>










         

        </div>
        <div class="formBar">
            <ul>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
            </ul>
        </div>
    </form>

</div>


@*<script type="text/javascript">
        function customvalidXxx(element) {
            if ($(element).val() == "xxx") return false;
            return true;
        }
    </script>*@
