@using StudyOnline.Models;
@model StudyOnline.Models.Document

@{
    Layout = null;
    List<Level> levels = ViewBag.Levels;
    levels.Insert(0, new Level() { Id = -1, LevelName = "-请选择-" });
    List<Folder> folders = ViewBag.Folders;
    folders.Insert(0, new Folder() { Id = -1, Name = "-请选择-" });
}
@*<h2 class="contentTitle">表单验证</h2>*@

<style type="text/css" media="screen">
    .uploadify {
        margin-bottom: 0;
        display: inline-block;
    }

    .uploadify-button {
        border: none;
        border-radius: 0;
    }
    /*.uploadify-queue { display: none; }*/
</style>
<div class="pageContent">
    <form method="post" action='@Url.Action("DocsCreate")' class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <div class="pageFormContent nowrap" layouth="56">
            <table class="formTable">
                <tr>
                    <th style="width:100px;">标题(原文)</th>
                    <td colspan="5"><input type="text" name="Title" style="width:99%" class="required" value="@Model.Title" /></td>
                </tr>
                <tr>
                    <th style="width:100px;">标题(译文)</th>
                    <td colspan="5"><input type="text" name="TitleTwo" style="width:99%" class="required" value="@Model.TitleTwo" /></td>
                </tr>
                <tr>
                    <th>级别</th>
                    <td style="width:200px;">
                        <select class="required" name="LevelId" style="text-align:center;">
                            @foreach (var item in levels)
                            {
                                <option value="@(item.Id>0?item.Id+"":"")" @(Model.LevelId == item.Id ? "selected='selected'" : "")>@item.LevelName</option>
                            }
                        </select>
                    </td>
                    <th>文件夹</th>
                    <td style="width:200px;">
                        <select class="required" name="FolderId">
                            @foreach (var item in folders)
                            {
                                <option value="@(item.Id >0 ? item.Id + "" : "")" @(Model.FolderId == item.Id ? "selected='selected'" : "")>@item.Name</option>
                            }
                        </select>
                    </td>
                    <th>时长</th>
                    <td style="width:200px;">
                        <input type="text" style="width:96%" name="LengthString" class="required" value="@Model.LengthString" />
                    </td>
                </tr>

                <tr>


                    <th>审核情况</th>
                    <td style="width:200px;">
                        <select class="required" name="AuditCase">
                            <option value="@AuditCase.添加" @(Model.AuditCase == AuditCase.添加 ? "selected='selected'" : "")>添加</option>
                            <option value="@AuditCase.修改" @(Model.AuditCase == AuditCase.修改 ? "selected='selected'" : "")>修改</option>
                            <option value="@AuditCase.审核" @(Model.AuditCase == AuditCase.审核 ? "selected='selected'" : "")>审核</option>
                        </select>
                    </td>
                    <th>审核时间</th>
                    <td style="width:200px;">
                        <input type="text" style="width:96%" name="AuditDate" class="date" value="@(Model.AuditDate==null?"":Model.AuditDate.Value.ToString("yyyy-MM-dd"))" />
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align:top;padding-top:10px;">歌词</th>
                    <td colspan="5">
                        <textarea name="Lyrics" style="height:350px;width:99%" class="required">@Model.Lyrics</textarea>
                    </td>
                </tr>
                <tr>
                    <th>音频文件</th>
                    <td colspan="5">
                        <span>
                            @if (!String.IsNullOrEmpty(Model.SoundPath))
                            {
                                <span class="fileList">
                                    <input type='hidden' name='SoundPath' value='@Model.SoundPath' />
                                    <input type='hidden' name='Length' value='@Model.Length' />
                                    <span>@Model.SoundPath</span>
                                    <a href='javascript:;' class='close' title='移除' onclick='$(this).parent().remove();'></a>
                                </span>
                            }
                        </span>
                        <input id="SoundPath" type="file" name="file" uploaderoption="{'swf':'/Content/uploadify/scripts/uploadify.swf','uploader':'/Admin/Uploadify','buttonText':'请选择文件','auto':true,'multi':false,'onUploadSuccess':successA}" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
            </ul>
        </div>
    </form>
</div>
<script>
    /*uploadifySuccess*/
    function successA(file, data, response) {
        var o = $.parseJSON(data);
        var $c = $("#SoundPath").prev();
        $c.html("<span class='fileList'></span>");
        var input = "<input type='hidden' name='SoundPath' value='" + o.filePath + "'/><input type='hidden' name='Length' value='" + o.Length + "'/>";
        var span = "<span>" + o.fileName + "</span>";
        var a = "<a href=\"javascript:;\" class=\"close\" title=\"移除\" onclick='$(this).parent().remove();'></a>";
        $c.children().append(input).append(span).append(a);
    }
</script>