@model Document
@{
    Layout = null;
}
<style type="text/css" media="screen">
    .uploadify { margin-bottom: 0; display: inline-block; }

    .uploadify-button { border: none; border-radius: 0; }
    /*.uploadify-queue { display: none; }*/
</style>
<div class="pageContent">
    <form method="post" action='@Url.Action("DocsCreate","Admin")' class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <div class="pageFormContent nowrap" layouth="56">
            <table class="formTable">
                <tr>
                    <th style="width:100px;">一级标题(原文)</th>
                    <td colspan="5">
                        <input type="hidden" name="document.Id" value="@Model.Id" />
                        <input type="text" name="document.Title" style="width:99%" class="required" value="@Model.Title" />
                    </td>
                </tr>
                <tr>
                    <th style="width:100px;">一级标题(译文)</th>
                    <td colspan="5"><input type="text" name="document.TitleTwo" style="width:99%" value="@Model.TitleTwo" /></td>
                </tr>
                <tr>
                    <th style="width:100px;">一级标题(拼音)</th>
                    <td colspan="5"><input type="text" name="document.TitlePy" style="width:99%" value="@Model.TitlePy" /></td>
                </tr>
                <tr>
                    <th style="width:100px;background:#0ff;">二级标题(中文)</th>
                    <td colspan="5"><input type="text" name="document.TitleSubCn" style="width:99%" value="@Model.TitleSubCn" /></td>
                </tr>
                <tr>
                    <th style="width:100px;background:#0ff;">二级标题(英文)</th>
                    <td colspan="5"><input type="text" name="document.TitleSubEn" style="width:99%" value="@Model.TitleSubEn" /></td>
                </tr>
                <tr>
                    <th style="width:100px;background:#0ff;">二级标题(拼音)</th>
                    <td colspan="5"><input type="text" name="document.TitleSubPy" style="width:99%" value="@Model.TitleSubPy" /></td>
                </tr>
                <tr>
                    <th>文档级别</th>
                    <td style="width:200px;">
                        @Html.DropDownList("document.LevelId", (List<SelectListItem>)ViewBag.Levels, new { @class = "combox" })
                    </td>
                    <th>文件夹</th>
                    <td style="width:200px;">
                        <input type="hidden" name="document.FolderId" value="@Model.FolderId" />
                        <input type="text" readonly="readonly" name="document.FolderName" value="@(Model.Folder==null? null :Model.Folder.Name)" style="width:90%;" />
                        <a class="btnLook" href='@Url.Action("FolderTreeLookUp","Admin")' lookupGroup="document" title="选择文件夹" width="400" heigth="800">选择文件夹</a>
                    </td>
                    <th>时长</th>
                    <td style="width:200px;">
                        <input type="text" style="width:96%" name="document.LengthString" class="required" value="@Model.LengthString" />
                    </td>
                </tr>
                <tr>
                    <th style="background:#0ff;">文档类型</th>
                    <td>
                        @Html.DropDownList("document.Category", (List<SelectListItem>)ViewBag.Course, new { @class = "combox" })
                    </td>
                    <th>审核情况</th>
                    <td style="width:200px;">
                        <select class="required" name="document.AuditCase">
                            <option value="@AuditCase.添加" @(Model.AuditCase == AuditCase.添加 ? "selected='selected'" : "")>添加</option>
                            <option value="@AuditCase.修改" @(Model.AuditCase == AuditCase.修改 ? "selected='selected'" : "")>修改</option>
                            <option value="@AuditCase.审核" @(Model.AuditCase == AuditCase.审核 ? "selected='selected'" : "")>审核</option>
                        </select>
                    </td>
                    <th>审核时间</th>
                    <td style="width:200px;">
                        <input type="text" style="width:96%" name="document.AuditDate" class="date" value="@(Model.AuditDate==null?"":Model.AuditDate.Value.ToString("yyyy-MM-dd"))" />
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align:top;padding-top:10px;">歌词</th>
                    <td colspan="5">
                        <textarea name="document.Lyrics" wrap='soft' spellcheck="false" style="height:350px;width:99%;font-family:Courier New, Courier, monospace,'宋体';" class="required">@Model.Lyrics</textarea>
                    </td>
                </tr>
                <tr>
                    <th>音频文件</th>
                    <td colspan="5">
                        <span>
                            @if (!String.IsNullOrEmpty(Model.SoundPath))
                            {
                                <span class="fileList">
                                    <input type='hidden' name='document.SoundPath' value='@Model.SoundPath' />
                                    <input type='hidden' name='document.Length' value='@Model.Length' />
                                    <span>@Model.SoundPath</span>
                                    @*<audio src="@Model.SoundPath" controls="controls"/>*@
                                    <a href='javascript:;' class='close' title='移除' onclick='$(this).parent().remove();'></a>
                                </span>
                            }
                        </span>
                        <input id="SoundPath" type="file" name="file" uploaderoption="{'swf':'/Content/uploadify/scripts/uploadify.swf','uploader':'/Admin/Uploadify','buttonText':'请选择文件','auto':true,'multi':false,'onUploadSuccess':successA}" />
                    </td>
                </tr>
                <tr>
                    <th>封面图片</th>
                    <td colspan="5">
                        <input name="Cover.FilePath" readonly="readonly" type="text" value="@Model.Cover" style="width:400px;" />
                        <a class="btnAttach" href='@Url.Action("Upload","Admin")' lookupGroup="Cover" width="400" height="200" title="上传附件">上传附件</a>
                    </td>
                </tr>
            </table>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
            </ul>
        </div>
    </form>
</div>
<script>
    /*uploadifySuccess*/
    function successA(file, data, response) {
        var o = $.parseJSON(data);
        var $c = $("#SoundPath").prev();
        $c.children().remove();
        $c.html("<span class='fileList'></span>");
        var input = "<input type='hidden' name='document.SoundPath' value='" + o.filePath + "'/><input type='hidden' name='document.Length' value='" + o.Length + "'/>";
        var span = "<span>" + o.fileName + "</span>";
        var audio = "<audio src='" + o.filePath + "' controls='controls' onloadedmetadata='console.log(this.duration)'/>";
        var a = "<a href=\"javascript:;\" class=\"close\" title=\"移除\" onclick='$(this).parent().remove();'></a>";
        $c.children().append(input).append(span).append(a);
    }
</script>