@using StudyOnline.Models;
@using Webdiyer.WebControls.Mvc;
@using StudyOnline.Utils;
@model StudyOnline.Models.Document

@{
    Layout = null;
    PagedList<Document> docs = ViewBag.Docs;
    List<Level> levels = ViewBag.Levels;
    levels.Insert(0, new Level() { LevelName = "-请选择-" });
    int levelId = ViewBag.LevelId;

    List<Folder> folders = ViewBag.Folders;
    int folderId = ViewBag.FolderId;
}

<div class="pageHeader">
    <form id="pagerForm" onsubmit="return navTabSearch(this);" action="@Url.Action("DocsList")" method="post">
        <input type="hidden" name="pageNum" value="@docs.CurrentPageIndex" />
        <input type="hidden" name="numPerPage" value="@docs.PageSize" />
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label>关键字：</label>
                    <input type="text" name="keyword" value="@(ViewBag.KeyWord)" />
                </li>
                <li>
                    <label>文章级别：</label>
                    <select class="combox" name="levelId">
                        @foreach (var item in levels)
                        {
                            <option value="@item.Id" @(levelId == item.Id ? "selected='selected'" : "")>@item.LevelName</option>
                        }
                    </select>
                </li>
                <li>
                    <label>文件夹：</label>
                    <select class="combox" name="folderId">
                        <option value="">-请选择-</option>
                        @foreach (var item in folders)
                        {
                            <option value="@item.Id" @(folderId == item.Id ? "selected='selected'" : "")>@item.Name</option>
                        }
                    </select>
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="create" href='@Url.Action("DocsCreate")' target="navTab" rel="AdminDocsCreate" title="新建文章"><span>添加</span></a></li>
            <li><a class="update" href='@Url.Action("DocsCreate", new { id = "{id}" })' target="navTab" rel="AdminDocsCreate" title="修改文章" warn="请选择"><span>修改</span></a></li>
            <li><a class="delete" href='@Url.Action("DocsDelete", new { id = "{id}" })' target="ajaxTodo" title="确定要删除吗？" warn="请选择"><span>删除</span></a></li>
            <li><a class="delete" href='@Url.Action("AuditDocs", new { id = "{id}" })' target="ajaxTodo" title="确定要审核吗？" warn="请选择"><span>审核</span></a></li>
        </ul>
    </div>

    <div id="w_list_print">
        <table class="list" style="width:100%;" targettype="navTab" asc="asc" desc="desc" layouth="116">
            <thead>
                <tr>
                    <th width="50" align="center">序号</th>
                    <th>文章标题</th>
                    <th>文件夹</th>
                    <th align="center" width="100">文章级别</th>
                    <th align="center" width="75">审核日期</th>
                </tr>
            </thead>
            <tbody>
                @{int i = 0; }
                @foreach (var item in docs)
                {
                    <tr target="id" rel="@item.Id">
                        <td align="center">@(++i)</td>
                        <td>@item.Title</td>
                        <td align="center">@(item.Folder == null ? "" : item.Folder.Name)</td>
                        <td align="center">@item.Level.LevelName</td>
                        <td align="center">@(item.AuditCase == AuditCase.审核 ? item.AuditDate.Value.ToString("yyyy-MM-dd") : "")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.PanelBar(docs, 10)
</div>
