@model IEnumerable<Folder>
@{
    Layout = null;
}

<div class="pageContent">
    <div class="pageFormContent" layoutH="58">
        <ul class="tree expand">
            @foreach (var item in Model)
            {
                <li>
                    <a href="javascript:" onclick="$.bringBack({ FolderId: '@item.Id', FolderName: '@item.Name' })">@item.Name</a>
                    @if (item.Folder1.Any())
                    {
                        <ul>
                            @foreach (var child in item.Folder1)
                            {
                                <li>
                                    <a href="javascript:" onclick="$.bringBack({FolderId:'@child.Id',FolderName:'@child.Name'})">@child.Name</a>
                                </li>
                            }
                        </ul>
                    }
                </li>
            }
        </ul>
    </div>

    <div class="formBar">
        <ul>
            <li><div class="button"><div class="buttonContent"><button class="close" type="button">关闭</button></div></div></li>
        </ul>
    </div>
</div>
