@using Webdiyer.WebControls.Mvc;
@using StudyOnline.Models;
@using StudyOnline.Utils;

@{
    Layout = null;
    PagedList<Folder> folders = ViewBag.Folders;
}

<div class="pageHeader">
    <form id="pagerForm" onsubmit="return navTabSearch(this);" action="@Url.Action("FolderIndex")" method="post">
        <input type="hidden" name="pageNum" value="@folders.CurrentPageIndex" />
        <input type="hidden" name="numPerPage" value="@folders.PageSize" />
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label>名称：</label>
                    <input type="text" name="keyword" placeholder="请输入" value="@ViewBag.Keyword" />
                </li>
                <li>
                    <label>级别：</label>@Html.DropDownList("levelId", (List<SelectListItem>)ViewBag.Levels, new { @class = "combox" })
                </li>
            </ul>

            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="create" href='@Url.Action("FolderCreate")' target="dialog" rel="AdminFolderCreate" title="新建合集" width="600" height="400" mask="true"><span>添加</span></a></li>
            <li><a class="delete" href='@Url.Action("FolderDelete",new {id="{id}"})' target="ajaxTodo" title="确定要删除吗？" warn="请选择"><span>删除</span></a></li>
            <li><a class="update" href='@Url.Action("FolderCreate",new {id="{id}"})' target="dialog" rel="AdminFolderCreate" title="修改合集" width="600" height="400" mask="true" warn="请选择"><span>修改</span></a></li>
            <li class="line">line</li>
            <li><a class="icon" href='@Url.Action("FolderSelect",new {id="{id}"})' target="dialog" rel="AdminFolderSelect" title="文章选择" width="800" height="600" mask="true" warn="请选择"><span>文章选择</span></a></li>

            @*<li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targettype="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>
                <li><a class="icon" href="javascript:$.printBox('w_list_print')"><span>打印</span></a></li>*@
        </ul>
    </div>
    <table class="list" targettype="navTab" asc="asc" desc="desc" layouth="116">
        <thead>
            <tr>
                <th width="35" align="center">序号</th>
                <th>文件夹级别</th>
                <th>父级文件夹</th>
                <th>文件夹名称</th>
                <th width="150" align="center">排序</th>
            </tr>
        </thead>
        <tbody>
            @{int i = 0;}
            @foreach (var item in folders)
            {
                <tr target="id" rel="@item.Id">
                    <td align="center">@(++i)</td>
                    <td>@(item.Level == null ? "" : item.Level.Name)</td>
                    <td>@(item.Folder2 == null ? "" : item.Folder2.Name)</td>
                    <td>@item.Name</td>
                    <td align="center">
                        <input type="text" id="folderSort@(i)" value="@item.Sort" class="digits" style="width:25px;text-align:center;" /> @Html.ActionLink("保存", "FolderSort", new { id = item.Id, sort = "{folderSort" + i + "}" }, new { target = "ajaxTodo" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @Html.PanelBar(folders, 10)
</div>
<script>
    //编辑文件的排序序号
    function updateFolderSort(dom) {
        var $a = $(dom);
        console.log($a);
        $.ajax({
            url: $a.attr("href"),
            type: "POST",
            data: { sort: $(dom).prev().value() },
            dataType: "json"
        });
    }
</script>