@using Webdiyer.WebControls.Mvc;
@using StudyOnline.Models;
@using StudyOnline.Utils;
@model StudyOnline.Models.Folder

@{
    Layout = null;
    List<Level> levels = ViewBag.Levels;
    levels.Insert(0, new Level() { Id = 0, LevelName = "-请选择-" });
}
<div class="pageContent">

    <form method="post" action='@Url.Action("FolderCreate")' class="pageForm" onsubmit="return validateCallback(this, dialogAjaxDone)">
        <div class="pageFormContent" layoutH="58">
            <div class="unit">
                <label>全集名称：</label>
                <input type="text" name="Name" class="required" value="@Model.Name" />
            </div>
            <div class="unit">
                <label>合集级别：</label>

                <select class="required" name="LevelId">
                    @foreach (var item in levels)
                    {
                        <option value="@(item.Id==0?"":item.Id+"")" @(Model.LevelId == item.Id ? "selected='selected'" : "")>@item.LevelName</option>
                    }
                </select>
            </div>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
            </ul>
        </div>
    </form>

</div>