@model StudyOnline.Models.Folder

@{
    Layout = null;
    List<Level> levels = ViewBag.Levels;
    levels.Insert(0, new Level() { Id = 0, Name = "-请选择-" });

    List<SelectListItem> dropShow = new List<SelectListItem>();
    dropShow.Add(new SelectListItem() { Value = "1", Text = "显示" });
    dropShow.Add(new SelectListItem() { Value = "0", Text = "隐藏", Selected = Model.Show == 0 });

}
<style type="text/css" media="screen">
    .uploadify { margin-bottom: 0; display: inline-block; }

    .uploadify-button { border: none; border-radius: 0; }
    /*.uploadify-queue { display: none; }*/
</style>

<div class="pageContent">
    <form method="post" action='@Url.Action("FolderCreate")' class="pageForm" onsubmit="return validateCallback(this, dialogAjaxDone)">
        <div class="pageFormContent" layoutH="58">
            <table class="formTable">
                <tr>
                    <th style="width:100px;">文件夹名称：</th>
                    <td>
                        <input type="hidden" name="folder.Id" value="@Model.Id" />
                        <input type="text" name="folder.Name" class="required" value="@Model.Name" />
                    </td>
                </tr>
                <tr>
                    <th style="width:100px;">文件夹名称(英文)：</th>
                    <td>
                        <input type="text" name="folder.NameEn" value="@Model.NameEn" />
                    </td>
                </tr>
                <tr>
                    <th style="width:100px;">二级标题(简略描述)：</th>
                    <td>
                        <input type="text" name="folder.NameSubCn" value="@Model.NameSubCn" />
                    </td>
                </tr>
                <tr>
                    <th>文件夹级别：</th>
                    <td>
                        <select class="combox required" name="folder.LevelId">
                            @foreach (var item in levels)
                            {
                                <option value="@(item.Id==0?"":item.Id+"")" @(Model.LevelId == item.Id ? "selected='selected'" : "")>@item.Name</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>父级文件夹：</th>
                    <td>
                        <input type="hidden" name="folder.ParentId" value="@Model.ParentId" />
                        <input type="text" name="folder.ParentName" value="@(Model.ParentId.HasValue?Model.Folder2.Name:"")" /><a href='@Url.Action("FolderLookup", new { id = Model.Id })' class="btnLook" width="500" height="250" lookupGroup="folder">查找带回</a>
                    </td>
                </tr>
                <tr>
                    <th>排序:</th>
                    <td>
                        <input type="text" name="folder.Sort" value="@Model.Sort" />
                    </td>
                </tr>
                <tr>
                    <th>显示/隐藏:</th>
                    <td>
                        @Html.DropDownList("folder.Show",dropShow, new { @class="combox"})
                    </td>
                </tr>
                <tr>
                    <th style="vertical-align:top;padding-top:10px;">文件夹封面：</th>
                    <td>
                        <span>
                            @if (!String.IsNullOrEmpty(Model.Cover))
                            {
                                <span class="fileList">
                                    <img src="@Model.Cover" width="100" height="100">
                                    <input type="hidden" name="folder.Cover" value="@Model.Cover">
                                    <span>@Model.Cover</span>
                                    <a href="javascript:;" class="close" title="移除" onclick="$(this).parent().remove();"></a>
                                </span>
                            }
                        </span>
                        <input id="testFileInput" type="file" name="file" uploaderOption="{swf:'/Content/uploadify/scripts/uploadify.swf',uploader:'/Admin/UploadifyFull',buttonText:'请选择封面',fileTypeDesc:'*.jpg;*.jpeg;*.gif;*.png;',fileTypeExts:'*.jpg;*.jpeg;*.gif;*.png;',auto:true,multi:false,onUploadSuccess:uploadifySuccess}" />
                    </td>
                </tr>
            </table>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
            </ul>
        </div>
    </form>

</div>
<script>
    /*uploadifySuccess*/
    function uploadifySuccess(file, data, response) {
        var o = $.parseJSON(data);
        console.log(o);
        var $c = $("#testFileInput").prev();
        $c.html("<span class='fileList'><img src='" + o.filePath + "' width='100' height='100'/></span>");
        var input = "<input type='hidden' name='folder.Cover' value='" + o.filePath + "' />";
        var span = "<span>" + o.fileName + "</span>";
        var a = "<a href=\"javascript:;\" class=\"close\" title=\"移除\" onclick='$(this).parent().remove();'></a>";
        $c.children().append(input).append(span).append(a);
    }
</script>