@using StudyOnline.Models;

@{
    Layout = null;
    List<Menu> menus = ViewBag.Menus;
}
@helper show(ICollection<Menu> m)
{
if (m != null)
{
    foreach (var item in m)
    {
            <tr target="id" rel="@item.Id" class="treegrid-@(item.Id) treegrid-parent-@(item.ParentId)">
                <td>@item.Name</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            @show(item.Children)
    }
}
}

<div class="pageHeader">
    <div class="searchBar">
        <ul class="searchContent">
            <li></li>
        </ul>
        <div class="subBar"></div>
    </div>

</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="create" href='@Url.Action("MenuCreate","Admin", new { id="{id}" })' target="dialog" rel="AdminMenuCreate" title="添加菜单" width="800" height="600" mask="true"><span>添加</span></a></li>
            <li><a class="update" href="@Url.Action("MenuCreate","Admin", new { id="{id}" })" target="dialog" rel="AdminMenuCreate" title="修改菜单" width="800" height="600" mask="true" warn="请选择"><span>修改</span></a></li>
            <li><a class="delete" href="@Url.Action("MenuDelete","Admin", new { id="{id}" })"><span>删除</span></a></li>
        </ul>
    </div>
    <div layoutH="88">
        <table id="menuTree" class="list" style="width:100%;">
            <thead>
                <tr>
                    <th>菜单名称</th>
                    <th>菜单图标</th>
                    <th>控制器</th>
                    <th>视图</th>
                    <th>链接类型</th>
                </tr>
            </thead>
            <tbody>
                @show(menus)
            </tbody>
        </table>
    </div>
</div>

<script>
    $("#menuTree").treegrid();
</script>