@model NimUserEx
@{
    Layout = null;
}


<div class="pageContent">

    <form method="post" action="@Url.Action("TeacherUpdate","Admin")" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
        <div class="pageFormContent " layoutH="58">

            <dl>
                <dt>昵称：</dt>
                <dd>
                    <input type="text" name="name" class="required" value="@Model.Name"/>
                </dd>
            </dl>
            <dl>
                <dt>手机：</dt>
                <dd>
                    <input type="text" name="Mobile" class="required phone" value="@Model.Mobile" />
                </dd>
            </dl>
            <dl>
                <dt>生日：</dt>
                <dd>
                    <input type="text" name="Birth" class="required date" readonly="readonly" value="@Model.Birth" />
                </dd>
            </dl>
            <dl>
                <dt>性别：</dt>
                <dd>
                    <select name="gender" class="combox">
                        <option >-请选择-</option>
                        <option value="0" @(Model.Gender==0?"selected='selected'":"")>女</option>
                        <option value="1" @(Model.Gender==1?"selected='selected'":"")>男</option>
                    </select>
                </dd>
            </dl>
            <dl>
                <dt>学校：</dt>
                <dd>
                    <input type="text" name="School" class="required" value="@Model.School" />
                </dd>
            </dl>
            <dl>
                <dt>爱好：</dt>
                <dd>
                    <input type="text" name="Hobbies" class="required" value="@Model.Hobbies" />
                </dd>
            </dl>
            <dl>
                <dt>位置：</dt>
                <dd>
                    <input type="text" name="Country" class="required" value="@Model.Country" />
                </dd>
            </dl>
            <dl>
                <dt>语言：</dt>
                <dd>
                    <input type="text" name="Spoken" class="required" value="@Model.Spoken" />
                </dd>
            </dl>
            <dl>
                <dt>关于：</dt>
                <dd>
                    <textarea name="About" class="required">@Model.About</textarea>
                </dd>
            </dl>
           
                <table class="formTable">
                    <tr>
                        <th>头像</th>
                        <td colspan="5">
                            <span>
                                @if (!String.IsNullOrEmpty(Model.Icon))
                                {
                                    <span class="fileList">
                                        <input type='hidden' name='SoundPath' value='@Model.Icon' />
                                        <span><img src="#" alt="Alternate Text" /></span>
                                        <a href='javascript:;' class='close' title='移除' onclick='$(this).parent().remove();'></a>
                                    </span>
                                }
                            </span>
                        </td>
                        <th>音频文件</th>
                        <td colspan="5">
                            <span>
                                @*@if (!String.IsNullOrEmpty(Model.NimUser.UploadFile))
                            {
                                <span class="fileList">
                                    <input type='hidden' name='SoundPath' value='@Model.SoundPath' />
                                    <input type='hidden' name='Length' value='@Model.Length' />
                                    <span>@Model.SoundPath</span>
                                    <a href='javascript:;' class='close' title='移除' onclick='$(this).parent().remove();'></a>
                                </span>
                            }*@
                            </span>
                        </td>
                    </tr>
                </table>
         
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>

</div>

