@using Webdiyer.WebControls.Mvc;
@model IEnumerable<StudyOnline.Models.User>

@{
    PagedList<User> users = ViewBag.Users;
    Layout = null;
}

<div class="pageHeader">
    <form id="pagerForm" method="post" action="@Url.Action("UserIndex")">
        <div class="searchBar">
            <input type="hidden" name="pageNum" value="@users.CurrentPageIndex" />
            <input type="hidden" name="numPerPage" value="@users.PageSize" />
            <ul class="searchContent">
                <li>
                    <label>我的客户：</label>
                    <input type="text" />
                </li>
                <li>
                    <select class="combox" name="province">
                        <option value="">所有省市</option>
                        <option value="北京">北京</option>
                        <option value="上海">上海</option>
                        <option value="天津">天津</option>
                        <option value="重庆">重庆</option>
                        <option value="广东">广东</option>
                    </select>
                </li>
            </ul>
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                    <li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="create" href="@Url.Action("UserCreate")" target="dialog" width="600" height="400" mask="true" title="添加用户"><span>添加</span></a></li>
            <li><a class="update" href="@Url.Action("UserCreate")?id={id}" target="dialog" width="600" height="400" mask="true" title="修改用户"><span>修改</span></a></li>
            <li><a class="delete" href="@Url.Action("UserDelete")?id={id}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
        </ul>
    </div>
    <table class="list" style="width:98%;" layoutH="116">
        <thead>
            <tr>
                <th width="35" align="center">序号</th>
                <th width="120">昵称</th>
                <th width="120">帐号</th>
                <th>电话</th>
                <th>邮箱</th>
                <th>在线情况</th>
                <th>创建日期</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 0;}
            @foreach (var item in users)
            {
                <tr target="id" rel="@item.Id">
                    <td align="center">@(++i)</td>
                    <td>@item.NickName</td>
                    <td>@item.UserName</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>
                    <td>@Html.Raw(item.IsOnline == 1 ? "<span style='color:green;'>在线</span>" : "离线")</td>
                    <td>@item.CreateDate</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.NavTabPages(users, 10)
</div>
