@model PagedList<Product>
@{
    Layout = null;
}




<div class="pageHeader">
    <form id="pagerForm" onsubmit="return navTabSearch(this);" action="demo_page1.html" method="post">
        <input type="hidden" name="pageNum" value="@Model.CurrentPageIndex" />
        <input type="hidden" name="numPerPage" value="@Model.PageSize" />
        <div class="searchBar">
            <ul class="searchContent">
                <li>
                    <label>我的客户：</label>
                    <input type="text" />
                </li>
                <li>
                    <select class="combox" name="province">
                        <option value="">所有省市</option>
                        <option value="北京">北京</option>
                        <option value="上海">上海</option>
                        <option value="天津">天津</option>
                        <option value="重庆">重庆</option>
                        <option value="广东">广东</option>
                    </select>
                </li>
            </ul>

            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                    <li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="create" href='@Url.Action("Create")' target="dialog" mask="true"><span>添加</span></a></li>
            <li><a class="delete" href="" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
            <li><a class="update" href='@Url.Action("Create", new { id = "{id}" })' target="dialog" mask="true"><span>修改</span></a></li>
            <li class="line">line</li>
            <li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targetType="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>
        </ul>
    </div>
    <table class="list" layoutH="115">
        <thead>
            <tr>
                <th align="center" width="35">序号</th>
                <th align="center" width="75">学币</th>
                <th align="center" width="75">时长</th>
                <th align="center" width="75">RMB</th>
                <th align="center" width="75">USD</th>
                <th align="center" width="75">排序</th>
                <th align="center" width="75">可用</th>
                <th align="center" width="150">机构</th>
                <th align="center" width="150">创建日期</th>
            </tr>
        </thead>
        <tbody>
            @{ Int32 i = 0;}
            @foreach (var item in Model)
            {
                <tr target="id" rel="@item.Id">
                    <td align="center">@(++i)</td>
                    <td align="right">@item.Coin</td>
                    <td align="right">@item.Hour</td>
                    <td align="right">@item.CNY</td>
                    <td align="right">@item.USD</td>
                    <td align="center">@item.Sort</td>
                    <td align="center">@Html.Raw(item.Enabled == 1 ? "<span style='color:green;'>是</span>" : "<span style='color:red;'>否</span>")</td>
                    <td align="center">@Html.Raw(String.Join(",", item.Member.Select(o => String.Format("<span>{0}</span>", Html.ActionLink(o.Name, "sdfsdf")))))</td>
                    <td>@item.Createtime</td>
                </tr>
            }
        </tbody>
    </table>
    @Html.NavTabPages(Model, 10)
</div>
