
@model List<X_Menu>

@{
    Layout = null;
}
@helper show(ICollection<X_Menu> m)
{
if (m != null)
{
    foreach (var item in m)
    {
            <tr target="id" rel="@item.Id" class="treegrid-@(item.Id) treegrid-parent-@(item.ParentId)">
                <td>@item.Name</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>@item.Order</td>
            </tr>
            @show(item.X_Menu1.OrderBy(o=>o.Order).ToList())
    }
}
}

<div class="pageHeader">
    <div class="searchBar">
        <ul class="searchContent">
            <li></li>
        </ul>
        <div class="subBar"></div>
    </div>

</div>
<div class="pageContent">
    <div class="panelBar">
        <ul class="toolBar">
            <li><a class="create" href='@Url.Action("Create", new {area="Master",controller="System", id="{id}" })' target="dialog" rel="MasterMenuCreate" title="添加菜单" width="800" height="600" mask="true"><span>添加</span></a></li>
            <li><a class="update" href="@Url.Action("Update", new {area="Master",controller="System", id="{id}" })" target="dialog" rel="MasterMenuUpdate" title="修改菜单" width="800" height="600" mask="true" warn="请选择"><span>修改</span></a></li>
            <li><a class="delete" href="@Url.Action("Delete", new {area="Master",controller="System", id="{id}" })"><span>删除</span></a></li>
        </ul>
    </div>
    <div layoutH="88">
        <table id="menuTree" class="list" style="width:100%;">
            <thead>
                <tr>
                    <th>菜单名称</th>
                    <th>菜单图标</th>
                    <th>控制器</th>
                    <th>视图</th>
                    <th>链接类型</th>
                    <th>排序</th>
                </tr>
            </thead>
            <tbody>
                <tr> <td>顶级菜单</td><td></td><td></td><td></td><td></td><td></td></tr>
                @show(Model.OrderBy(o=>o.Order).ToList())
            </tbody>
        </table>
    </div>
</div>

<script>
    $("#menuTree").treegrid();
</script>