@model X_User
@{
    Layout = null;
    List<X_Role> roles = ViewBag.Roles;
}


<div class="pageContent">

    <form method="post" action='@Url.Action("UserRoleAssign")' class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone)">
        <div class="pageFormContent " layoutH="58">
            <input type="hidden" name="Id" value="@Model.Id" />
            @foreach (var item in roles)
            {
                <label><input type="checkbox" name="roles" value="@item.Id" @(Model.X_Role.Contains(item) ? "checked='checked'" : "") />@item.Name</label>
            }
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>

</div>
