
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UserHelp</title>
    <style>
        img { width: 20px; height: 20px; }
    </style>
</head>
<body>
    <ul>
        <li>
            <p>Downloading</p>
        </li>
    </ul>
    <div class="line_item" data-line="4"></div>
    <p class="line  " data-line="4">
        Step 1: Downloading ChineseChat App For IOS users, please search "ChineseChat"
        in App Store. For Android users, please search "ChineseChat" in mobile application
        store（eg.google application store). OR: Scan the QR code in ChineseChat official
        website (<a href="http://www.chinesechat.com/">http://www.chinesechat.com/</a>)
        to download ChineseChat App.
        <br> Step 2: After installation, the icon
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image001.png")"
                 alt="enter description here" title="image001.png">
        </span> will appear automatically on the desktop of your phone.
    </p>
    <ul>
        <li>
            <p>Listening Module One</p>
        </li>
    </ul>
    <div class="line_item" data-line="9"></div>
    <p class="line  " data-line="9">
        Step 1: Click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image003.png")"
                 alt="enter description here" title="image003.png">
        </span> to enter Listening page, where ChineseChat provides listening resources for all
        users (including unregistered users) for free.
        <br> Step 2: Select online listening courses according to your oral Chinese proficiency.
        We suggest that you download the courses to ChineseChat App instead of depending
        fully on local Internet.
        <br> Step 3: Click
        <span class="story_inline_image">
            <img style="width:40px; height:20px;" src="@Url.Content("~/Images/image005.png")"
                 alt="enter description here" title="image005.png">
        </span> to browse your course list on ChineseChat App
    </p>
    <ul>
        <li>
            <p>Listening Module Two</p>
        </li>
    </ul>
    <div class="line_item" data-line="15"></div>
    <p class="line  " data-line="15">
        Step 1: On Listening page, select a course folder to see course list, where you
        can select a course to begin practicing listening. Or you can click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image011.png")"
                 alt="enter description here" title="image011.png">
        </span> on the top right of the screen to download all or part of the courses. If you
        want to cancel downloading, click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image009.png")"
                 alt="enter description here" title="image009.png">
        </span> . After downloading, you can have access to these courses on "DOWNLD" page.
        <br> Step 2: When a course is playing, click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image007.png")"
                 alt="enter description here" title="image007.png">
        </span> on the top right of the screen to study the text of the course you’re listening
        to, and click twice to read the text in both Chinese and English. This button
        allows the screen to display in an alternative order of
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image013.png")"
                 alt="enter description here" title="image013.png">
        </span> -text- text in Chinese and English.
        <br> Step 3: When a course is playing, click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image015.png")"
                 alt="enter description here" title="image015.png">
        </span> on the bottom left of the screen to play currently playing sentence circularly,
        and click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image015.png")"
                 alt="enter description here" title="image015.png">
        </span> twice to cancel circular playing. Click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image017.png")"
                 alt="enter description here" title="image017.png">
        </span> or
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image021.png")"
                 alt="enter description here" title="image021.png">
        </span> to play circularly the previous or next sentence.
        <br> Step 4: Click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image019.png")"
                 alt="enter description here" title="image019.png">
        </span> on the bottom right of the screen to record yourself when you are repeating after
        text.
        <br> Step 5: When you’re recording, click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image023.png")"
                 alt="enter description here" title="image023.png">
        </span> to repeat after a specific sentence, and click again to cancel and play the recording
        automatically. When the recording is over, the system will play current original
        sound. When the original sound is playing, you can click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image029.png")"
                 alt="enter description here" title="image029.png">
        </span> on the bottom left of the screen to pause.
        <br> Step 6: Click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image027.png")"
                 alt="enter description here" title="image027.png">
        </span> to play the original sound, and click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image025.png")"
                 alt="enter description here" title="image025.png">
        </span> to play the recording. If you start recording again, your previously recorded
        content will be covered.
        <br> Step 7: When you finish recording current sentence, click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image033.png")"
                 alt="enter description here" title="image033.png">
        </span> or
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image021.png")"
                 alt="enter description here" title="image021.png">
        </span> to play circularly the previous or next sentence, or you can simply click the
        sentence you want to play it circularly.
        <br> Step 8: Click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image031.png")"
                 alt="enter description here" title="image031.png">
        </span> on the bottom right of the screen to play the courses in an ordinary order.
    </p>
    <ul>
        <li>
            <p>Oral Training Module</p>
        </li>
    </ul>
    <div class="line_item" data-line="26"></div>
    <p class="line  " data-line="26">
        Step 1: If you're unregistered, please register as a ChineseChat user using your
        email address and password. If you're registered, please log in.
        <br> Step 2: Click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image035.jpg")"
                 alt="enter description here" title="image035.jpg">
        </span> to enter Chat page, where you can check online/offline status of our instructors
        and click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image037.png")"
                 alt="enter description here" title="image037.png">
        </span> next to tutor profile photo to select an instructor to begin your oral training
        with.
        <br> Step 3: Click the profile photo of an instructor to see tutor personal page,
        and click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image037.png")"
                 alt="enter description here" title="image037.png">
        </span> next to tutor profile photo to begin oral training.
        <br> Step 4: When you're connected, click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image039.png")"
                 alt="enter description here" title="image039.png">
        </span> on the bottom right of the screen to enter Topic Bank.
        <br> Step 5: Scroll the screen to select in accordance with your oral Chinese proficiency
        a topic from three levels of topics. Click
        <span class="story_inline_image">
            <img src="@Url.Content("~/Images/image043.png")"
                 alt="enter description here" title="image043.png">
        </span> on top right of the screen to confirm the topic you choose and start practicing
        it with your instructor. When you finish a topic, click
        <span class="story_inline_image">
            <img style="width:40px;height:20px;" src="@Url.Content("~/Images/image041.png")"
                 alt="enter description here" title="image041.png">
        </span> to proceed to another one. You can choose as many topics as you wish until you
        hang up after finishing oral training.
    </p>
    <ul>
        <li>
            <p>Me Module</p>
        </li>
    </ul>
    <div class="line_item" data-line="34"></div>
    <p class="line  " data-line="34">
        <br /> Step 1  Click profile photo and enter your personal page where you can complete or modify your personal data. After finishing, please click <img src="@Url.Content("~/Images/image048.gif")" /> the right side of the screen to save.
        <br /> Step 2  Click <img src="@Url.Content("~/Images/image049.gif")" /> to enter Setting page,where you can change password,submit complaints, check Users guide as well as Users agreement, and log out.
        <br /> Step 3  Click <img src="@Url.Content("~/Images/image050.gif")" /> to check your study records, which include your instructor, topic, duration and the number of ChineseChat coins you paid.
    </p>
    <h5>About ChineseChat Coin</h5>

    <ul>
        <li>
            <p>What’s ChineseChat Coin</p>
        </li>
    </ul>
    <div class="line_item" data-line="34"></div>
    <p class="line  " data-line="34">
        <br /> Virtual currency that is to buy paid services on <img src="@Url.Content("~/Images/image002.png")" /> .You can use ALIPAY or PayPal to purchase it.
    </p>
    <ul>
        <li>
            <p>How to buy ChineseChat Coin</p>
        </li>
    </ul>
    <div class="line_item" data-line="34"></div>
    <p class="line  " data-line="34">
        <br />If you're registered, please log in, click <img src="@Url.Content("~/Images/image045.jpg")" /> on the bottom right of the screen, then click <img src="@Url.Content("~/Images/image047.png")" /> to recharge your account. Enter Recharge page, decide an amount, and choose either PayPal or ALIPAY as payment method to recharge your account. When you finish recharging, the accretion will be automatically added to your ChineseChat coin balance.
    </p>

    <ul>
        <li>
            <p>How to use ChineseChat Coin</p>
        </li>
    </ul>
    <div class="line_item" data-line="34"></div>
    <p class="line  " data-line="34">
        <br />In <img src="@Url.Content("~/Images/image034.png")" /> module,you can use ChineseChat coin when you:
        <br />1.click <img src="@Url.Content("~/Images/image036.png")" /> and enter online oral Chinese training with your instructor;
        <br />2.enter HSKK module to practice online simulation training. When you’re practicing an online training, the system starts charging you until you’ve finished.
        <br />Charging measures and standards:
        <br />Adopting a real-time charging measure,the system charges you at a rate of 10 coins/minute ('coins' refer to ChineseChat coin).
    </p>

    <ul>
        <li>
            <p>It's safe and convenient to use virtual currency!</p>
        </li>
    </ul>
    <div class="line_item" data-line="34"></div>
    <p class="line  " data-line="34">
    </p>

    <ul>
        <li>
            <p>If you have any question regarding payment, please feel free to contact our service team: </p>
        </li>
    </ul>
    <div class="line_item" data-line="34"></div>
    <p class="line  " data-line="34">
        <br />service@chinesechat.cn
        <br />Hotline: ( 8610) 60190466
        <br />We will get back to you as soon as possible!
    </p>
</body>
</html>
